.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    font-family: Arial, sans-serif;
    position: relative;
    flex-direction: column;
}

.list-degree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 5px;
}

.list-degree-text {
    color: white !important; /* Add !important to override any other conflicting styles */
    margin: 0;
}

.list-degree-unit-container {
    width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 5px;
}